@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebForum_new.Pages.Community.DetailModel

@{
    const int MaxPostTitleLength = 100;
    const int MaxPostContentLength = 150;
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card-item-container">
                <h1 class="card-item-title">@Model.Community?.Name</h1>
                <p class="card-item-creation-date">@Model.Community?.DateTimeCreated</p>
                <p class="card-item-creation-date">@Model.Subscribers.Count subscribers</p>
                <p class="card-item-body">@Model.Community?.Description</p>
            </div>
            @*<div class="button-main">
                <a asp-page="/Note/Edit" asp-route-id="@Model.Note?.Id" class="link-light">
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </a>
                <a asp-page="/Note/Delete" asp-route-id="@Model.Note?.Id" class="link-light">
                    <button class="btn btn-danger">
                        Delete
                    </button>
                </a>
            </div>*@
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input type="hidden" asp-for="Community.Id" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
        @if (Model.Community?.Posts != null)
        {
            @foreach (Models.Post post in Model.Community.Posts)
            {
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">
                                <a asp-page="/Community/Post/Detail" asp-route-id="@post?.Id" class="link-main">
                                    <truncate text=@post?.Title length=MaxPostTitleLength></truncate>
                                </a>
                            </h5>
                            <p class="card-text text-center">
                                <a asp-page="/Community/Post/Detail" asp-route-id="@post?.Id" class="link-secondary">
                                    <truncate text=@post?.Content length=MaxPostContentLength>@post?.Content</truncate>
                                </a>
                            </p>
                            <p class="card-text text-center">
                                <a asp-page="/Community/Post/Detail" asp-route-id="@post?.Id" class="link-secondary">
                                    @post?.DateTimeCreated
                                </a>
                            </p>
                            <p class="card-text text-center">
                                <a asp-page="/Community/Post/Detail" asp-route-id="@post?.Id" class="link-secondary">
                                    @post?.AppUser.UserName
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Post found.</p>
        }

    </div>

    @if (Model.CanManageCommunity)
    {
        <div class="button-main">
            <a asp-page="/Community/Delete" asp-route-id="@Model.Community?.Id" class="link-light">
                <button class="btn btn-danger">
                    Permanent Delete
                </button>
            </a>
            <a asp-page="/Community/Delete" asp-route-id="@Model.Community?.Id" class="link-light">
                <button class="btn btn-danger">
                    Delete
                </button>
            </a>
        </div>
    }
    <for-logged>
        <a asp-page="/Community/Post/Create" asp-route-id="@Model.Community?.Id" class="link-light">
            <button class="btn btn-danger">
                Create Post
            </button>
        </a>
    </for-logged>
    <for-not-logged>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">
            <button class="btn btn-danger">
                Create Post
            </button>
        </a>
    </for-not-logged>
</div>
