@page
@using WebForum_new.Models
@model WebForum_new.Pages.Community.Post.DetailModel

@{
}


<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="note-container">
                <h1 class="note-title">@Model.Post?.Title</h1>
                <p class="note-creation-date">@Model.Post?.DateTimeCreated</p>
                <p class="note-creation-date">@Model.Post?.LikeCount</p>
                <p class="note-creation-date">@Model.Post?.DislikeCount</p>
                <p class="note-body">@Model.Post?.Content</p>
            </div>

        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Post?.Image))
{
    <div class="col-lg-7 mb-4 mb-sm-0">
        <img alt="Image" src="@Model.Post?.Image" class="rounded img-fluid"/>
    </div>
}
<form method="post" enctype="multipart/form-data">

    @if (Model.CanPutLike)
    {
        <button type="submit" asp-page-handler="Vote" asp-route-id="@Model.Post.Id" asp-route-voteType="@VoteType.Like" class="btn btn-primary">
            LIKE
        </button>
    }
    else
    {
        <button type="submit" asp-page-handler="Vote" asp-route-id="@Model.Post.Id" asp-route-voteType="@VoteType.Like" class="btn btn-primary">
            REMOVE LIKE
        </button>
    }
</form>

<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="CommentVM.Content" class="form-label">Comment body</label>
        <input asp-for="CommentVM.Content" class="form-control">
        <span asp-validation-for="CommentVM.Content" class="text-danger"></span>
    </div>
    <button asp-page-handler="CreateComment" asp-route-id="@Model.Post.Id" type="submit" class="btn btn-primary">Add</button>
</form>

<h2>Comments</h2>
@if (Model.Post?.Comments != null && Model.Post.Comments.Count > 0)
{
    <ul>
        @foreach (Comment comment in Model.Post.Comments)
        {
            <li class="mb-3">
                <strong>@comment.Content</strong><br/>
                <small>@comment.DateTimeCreated</small>
                <small>@comment.AppUser.UserName</small>
            </li>
        }
    </ul>
}
else
{
    <p>No comments yet</p>
}